<!-- include es para agregar todo lo de la página antes, extends es para agregarlo adentro de la página -->
{% extends 'layout/layout.html' %}

{% block content %}

<div class="DF AI Contenedor">
    <form action="{% url 'PDT' %}">
        <fieldset>
            <legend>Elegir configuración del programa</legend>
            <div class="DF Two_ColumnsC">
                <div class="cells-input">
                    <span>
                        <label>Número de máquinas disponibles:</label>
                        <input type="number" min="1" autocomplete="false" name="machine_numb" id="machine_numb" required>
                    </span>
                    <div class="tableContainerO" id="tableContainerO"></div>
                </div>
                <div class="cells-input">
                    <span>
                        <label>Número de tareas:</label>
                        <input type="number" min="1" autocomplete="false" name="tasks" id="tasks" required>
                    </span>
                    <div class="tableContainerT" id="tableContainerT"></div>
                </div>
            </div>
            <div>
            <h3>Cargar archivos de configuración</h3>
                <button type="button" class="BAccept" onclick="uploadFileOperations()">Máquinas disponibles y tiempo de operaciones</button>
                <button type="button" class="BAccept" onclick="uploadFileTasks()">Trabajos a ejecutar y sus operaciones</button>
                <button class="BAccept">Iniciar Simulación</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}